language: julia
os:
  - linux
julia:
  - 0.6
  - nightly
matrix:
  allow_failures:
    - julia: nightly
notifications:
  email: false
before_install:
  # - sudo apt-get -qq update
  # - sudo apt-get install ffmpeg
  - sudo add-apt-repository ppa:mc3man/trusty-media -y
  - sudo apt-get update -q
  - sudo apt-get install ffmpeg gstreamer0.10-ffmpeg -y
  - sudo apt-get install imagemagick -y
  - sudo apt-get install git -y
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia --check-bounds=yes -e 'Pkg.clone(pwd()); Pkg.build("Reel"); Pkg.test("Reel"; coverage=true)'
after_success:
  - julia -e 'cd(Pkg.dir("Reel")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
